/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFont {
  font-family: 'Pas-Nintendo', 'Comic Sans MS', cursive, sans-serif;
}

@font-face {
  font-family: 'Pas-Nintendo';
  src: url('../../static/fonts/Font-pas-nintendo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  margin-bottom: 18vh;
}

.containerMobile {
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 10rem;
  }
}

.heroSubtitle {
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .heroSubtitle {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .heroSubtitle {
    font-size: 1.6rem;
  }
}

.ctaButton {
  composes: button button--secondary button--lg from global;
}

@media (max-width: 768px) {
  .ctaButton {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
  }
}

.bottomContainer {
  margin-bottom: 10vh;
}

@media (max-width: 768px) {
  .bottomContainer {
    margin-bottom: 5vh;
  }
}

.subtitle {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 1rem;
  }
}

.tutorialButton {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .tutorialButton {
    font-size: 0.9rem;
  }
}