/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFont {
  font-family: 'Pas-Nintendo', 'Comic Sans MS', cursive, sans-serif;
}

@font-face {
  font-family: 'Pas-Nintendo';
  src: url('../../static/fonts/Font-pas-nintendo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}